.app {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.benefit-cards-container {
  width: max(800px, 33vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
